  .signup-container {
    display: flex;
    justify-content: space-between;
    height: 100;
    align-items: center;
    padding: 20px;
    margin: 150px 100px 80px 650px;
    background-size: cover;
    background-position: center;
  }
  
  .signup-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
    width: 100%;
  }
  
  .signup-form h2 {
    font-size: 32px;
    color: #333;
  }
  
  .signup-form h3 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 30px;
  }
  
  .role-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .role-buttons button {
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-row {
    display: flex;
    gap: 20px;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input-password {
    position: relative;
  }
  
  .input-password i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .submit-button {
    padding: 15px;
    background: linear-gradient(45deg, #000000, #000000);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: red;
  }
  
  .signup-form p {
    text-align: center;
    font-size: 16px;
  }
  
  .signup-form p a {
    color: #6A1B9A;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .signup-form p a:hover {
    color: #8E24AA;
  }