.main-content {
    margin-left: 220px;
    padding: 2rem;
    margin-top: 150px;
    width: 100%;
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .header img {
    width: 150px;
    border-radius: 25%;
  }
  
  .header .info {
    margin-left: 2rem;
  }
  
  .header button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
  }
  
  .cards-section {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }