/* src/components/Navbar.css */
.navbar {
    background-color: #333; /* Cor de fundo da navbar */
    color: white; /* Cor do texto */
    padding: 1rem; /* Espaçamento interno */
    position: fixed; /* Fixa a navbar na parte superior */
    top: 0; /* Posiciona a navbar no topo */
    left: 0; /* Alinha a navbar à esquerda */
    width: 100%; /* Faz a navbar ocupar toda a largura da tela */
    z-index: 1000; /* Fixa a navbar acima dos outros elementos */
    display: flex; /* Usado para alinhar os itens em linha */
    justify-content: space-between; /* Espaçamento entre os itens da navbar */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.navbar ul {
    list-style: none; /* Remove os marcadores da lista */
    margin: 0; /* Remove a margem padrão da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    display: flex; /* Permite que os itens da lista fiquem em linha */
}

.navbar li {
    margin: 0 15px; /* Espaçamento entre os itens da navbar */
}

.navbar a {
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: color 0.3s; /* Efeito de transição na cor */
}

.navbar a:hover {
    color: #ff6347; /* Cor do texto ao passar o mouse */
}