body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app-container {
  display: flex;
}

.main-content {
  margin-left: 250px; /* Espaço para a sidebar */
  padding: 20px;
  width: calc(100% - 250px);
}